.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 150px);
    align-items: center;
    gap: 10px;
}
.grid div {
    background: #3498db;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}
.text-grid {
    text-align: center;
}
.grid-hidden {
    display: none;
}