#cards {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card {
    padding: 20px;
    height: 120px;
    display: flex;
    flex-direction: column;
    background-color: var(--accent-color);
    border-radius: 10px;
}
.card h3 {
    font-size: 0.95rem;
    font-family: "Satoshi-Regular";
    font-style: normal;
}
.card p {
    font-size: 1.5rem;
    font-family: "Satoshi-Bold";
    font-style: normal;
}
.card .secondary-para{
    font-size: 1rem;
    font-family: "Satoshi-Light";
    font-style: normal;
}