

#location-select {
    border: var(--graph-card-border-color) solid 3px;
    background-color: var(--graph-card-bg-color);
    padding: 10px 16px;
    margin-left: 10px;
    border-radius: 10px;
    font-family: "Paris2024-Variable";
    font-weight: bold;
    font-size: 20px;
}

#cards {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.card {
    padding: 15px;
    width: 280px;
    height: 120px;
    display: flex;
    background-color: var(--graph-card-bg-color);
    color: var(--text-color);
    border: 3px solid var(--graph-card-border-color);
    border-radius: 20px;
    transition: all 0.3s ease-in-out;

    h3 {
        font-size: 0.95rem;
        font-family: "Satoshi-Light";
        font-style: normal;
        color: var(--secondary-text-color);
        transition: all 0.3s ease-in-out;
    }

    p {
        font-size: 1.5rem;
        font-family: "Satoshi-Bold";
        font-style: normal;
    }

    .secondary-para {
        font-size: 0.8rem;
        font-family: "Satoshi-Light";
        font-style: italic;
        color: var(--secondary-text-color);
        transition: all 0.3s ease-in-out;
    }

    svg {
        margin-left: auto;
        margin-right: 10px;
        width: 50px;
        height: 50px;
        padding: 10px;
        border-radius: 10px;

        &.blue-bg {
            background-color: #2767ED;
        }

        &.red-bg {
            background-color: var(--link-color);
        }
    }
}

.tx-tn-buttons {
    margin-left: 50px !important;
}

.hidden {
    display: none;
}

#graph-container {
    display: flex;
    margin: 0 auto;
    padding: 0 !important;
    max-width: 80%;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#graph-container #graph {
    width: 65%;
}

.graph {
    width: fit-content;
    padding: 0;
    margin: 0;
}

#graph-container #text {
    width: 35%;
}

#graph-container #text h2 {
    margin-bottom: 20px;
}

.text-hidden {
    display: none;
}