#cards {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card {
    padding: 20px;
    height: 120px;
    display: flex;
    flex-direction: column;
    background-color: var(--accent-color-opacity);
    color: var(--text-color);
    border: 1px solid var(--link-color);
    // border: 2px solid var(--accent-color);
    border-radius: 10px;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.card:hover {
    transform: scale(1.1);
    background-color: var(--link-color);
    // background-color: var(--accent-color);
    color: var(--bg-color);
    cursor: default;
}
.card .secondary-para {
    transition: all 0.3s ease-in-out;
}
.card:hover .secondary-para{
    color: var(--secondary-text-color-white);
}
.card h3 {
    font-size: 0.95rem;
    font-family: "Satoshi-Light";
    font-style: normal;
    color: var(--secondary-text-color);
    transition: all 0.3s ease-in-out;
}
.card:hover h3 {
    color: var(--secondary-text-color-white);
}
.card p {
    font-size: 1.5rem;
    font-family: "Satoshi-Bold";
    font-style: normal;
}
.card .secondary-para{
    font-size: 0.8rem;
    font-family: "Satoshi-Light";
    font-style: italic;
    color: var(--secondary-text-color);
}
.hidden {
    display: none;
}
#graph-container {
    display: flex;
    margin: 0 auto;
    padding: 0 !important;
    max-width: 80%;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
#graph-container #graph {
    width: 65%;
}
.graph{
    width: fit-content;
    padding: 0;
    margin: 0;
}
#graph-container #text {
    width: 35%;
}
#graph-container #text h2 {
    margin-bottom: 20px;
}
.text-hidden {
    display: none;
}