header {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav:not(.buttons_averages) {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: 7vh;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 5px;
    margin-left: auto;
}

header h1 {
    font-size: 4rem;
    margin: auto;
    text-align: center;
    width: 75%;
    transform: translateY(-6vh);
}

nav h3 a {
    text-decoration: none;
    color: black;

    &:hover {
        color: black;
    }
}

.scroll-indicator {
    display: flex;
    text-decoration: none;
    color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: flotter 2s ease-in-out infinite;
}

li a:hover {
    text-decoration: underline;
}

@keyframes flotter {

    0%,
    100% {
        transform: translateY(-5vh);
    }

    50% {
        transform: translateY(-7vh);
    }
}