:root {
    --bg-color: #fcfced;
    --text-color: #020122;
    --secondary-text-color: rgba(2, 1, 34, 0.5);
    --secondary-text-color-white: hsla(243, 56%, 94%, 0.5);
    --link-color: #f4442e;
    --link-color-hover: #f4442e;
    --accent-color: #fc9e4f;
    --accent-color-opacity: rgba(252, 158, 79, 0.5);

    --box-shadow: box-shadow: 0 0 35px 0 var(--secondary-text-color);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* declare fonts */
@font-face {
    font-family: "Paris2024-Variable";
    src: url('../fonts/Paris2024-Variable.woff2') format('woff2'),
        url('../fonts/Paris2024-Variable.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
}
/* REGULAR FONTS */
@font-face{
    font-family: "Satoshi-Black";
    src: url('../fonts/Satoshi-Black.woff') format('woff'),
        url('../fonts/Satoshi-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face{
    font-family: "Satoshi-Bold";
    src: url('../fonts/Satoshi-Bold.woff') format('woff'),
        url('../fonts/Satoshi-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: "Satoshi-Medium";
    src: url('../fonts/Satoshi-Medium.woff') format('woff'),
        url('../fonts/Satoshi-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: "Satoshi-Regular";
    src: url('../fonts/Satoshi-Regular.woff') format('woff'),
        url('../fonts/Satoshi-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: "Satoshi-Light";
    src: url('../fonts/Satoshi-Light.woff') format('woff'),
        url('../fonts/Satoshi-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
/* ITALICS */
@font-face{
    font-family: "Satoshi-BlackItalic";
    src: url('../fonts/Satoshi-BlackItalic.woff') format('woff'),
        url('../fonts/Satoshi-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}
@font-face{
    font-family: "Satoshi-BoldItalic";
    src: url('../fonts/Satoshi-BoldItalic.woff') format('woff'),
        url('../fonts/Satoshi-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}
@font-face{
    font-family: "Satoshi-MediumItalic";
    src: url('../fonts/Satoshi-MediumItalic.woff') format('woff'),
        url('../fonts/Satoshi-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}
@font-face{
    font-family: "Satoshi-Italic";
    src: url('../fonts/Satoshi-Italic.woff') format('woff'),
        url('../fonts/Satoshi-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}
@font-face{
    font-family: "Satoshi-LightItalic";
    src: url('../fonts/Satoshi-LightItalic.woff') format('woff'),
        url('../fonts/Satoshi-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

html {
    background-color: var(--bg-color);
    color: var(--text-color);
}
h1 {
    font-family: "Paris2024-Variable";
    font-weight: 800;
    font-style: normal;
}
h2 {
    font-family: "Satoshi-Bold";
    font-style: normal;
    margin-left: 20px;
}
h3 {
    font-family: "Satoshi-Medium";
    font-style: normal;
}
p, a, li, ul {
    font-family: "Satoshi-Regular";
    font-style: normal;
}
a {
    text-decoration: none;
    color: var(--link-color);
}
a:hover {
    color: var(--link-color-hover);
}